.page-config {
  .config-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;

    > .section-header {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      > .title {
        color: var(--color-text-header);

        font-size: 1.5em;
        font-weight: 700;
      }

      > .description {
        color: var(--color-text-grey-1);

        font-size: var(--text-sm);
        font-weight: 400;
      }
    }

    > .section-content {
      width: 100%;

      .toggle-field-name {
        font-weight: 420;
        // font-size: var(--text-sm);
      }
    }
  }
}
