# ----- Frontend -----
# node stuff
y-frontend/node_modules

# dist
y-frontend/dist

# ----- Backend -----
# cmake stuff
y-backend/CMakeFiles
y-backend/CMakeCache.txt
y-backend/*.cmake
y-backend/Makefile

# docs
y-backend/docs
y-backend/Doxyfile

# logs
y-backend/*.log

# executables
# TODO: move to dist/
y-backend/main

# sensitive data
y-backend/config/credentials.yaml
y-backend/config/server.yaml

# misc
.vscode/
