# ----- Backend -----
# cmake stuff
y-backend/CMakeFiles
y-backend/CMakeCache.txt
y-backend/*.cmake
y-backend/Makefile

# logs
y-backend/*.log

# third party, includes
y-backend/third_party/libpq
y-backend/third_party/fmt

# executables
# TODO: move to dist/
y-backend/main

# sensitive data
y-backend/src/db_config.hpp

# misc
.vscode/
