#config-features-page > .feature-cards-container .feature-card {
    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

#config-features-page > .feature-cards-container .feature-card:hover {
    background-color: var(--color-gray-02);
}

#config-features-page > .feature-cards-container .feature-card .content {
    height: 14rem;
}

#config-features-page > .feature-cards-container .feature-card .card-sides {
    display: flex;
    align-items: center;

    height: 100%
}

#config-features-page > .feature-cards-container .feature-card .card-sides > .icon-container {
    position: relative;

    flex-shrink: 0;
    user-select: none;

    width: 14rem;
    height: 14rem;

    margin-right: 2.5em;
}

#config-features-page > .feature-cards-container .feature-card.feature-disabled .card-sides > .icon-container {
    filter: saturate(0.15);
}

#config-features-page > .feature-cards-container .feature-card.feature-disabled:hover .card-sides > .icon-container {
    filter: saturate(0.4);
}

#config-features-page > .feature-cards-container .feature-card .card-sides > .icon-container > .circle-bkg {
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 50%;

    overflow: hidden;

    background-color: var(--color-blue-t-04);
    box-shadow: 0 0 0 6px var(--color-blue-t-04);
}

#config-features-page > .feature-cards-container .feature-card .card-sides > .icon-container > .circle-bkg > .icon-repeat {
    position: absolute;
    z-index: 0;

    width: 100%;
    height: 100%;

    background-size: 7em;
    background-position: 50% 50%;

    transform: rotate(15deg);
}

#config-features-page > .feature-cards-container .feature-card .card-sides > .icon-container > .icon {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

#config-features-page > .feature-cards-container .feature-card .card-sides > .icon-container > .icon > span {
    color: var(--color-blue-darker);
    font-size: 7em;

    transform: rotate(15deg);
}

#config-features-page > .feature-cards-container .feature-card .card-sides > .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

#config-features-page > .feature-cards-container .feature-card .card-sides > .info-container > .text > .feature-name {
    font-size: 2.25em;
    font-weight: 800;
}

#config-features-page > .feature-cards-container .feature-card .card-sides > .info-container > .text > .feature-description {
    color: var(--color-gray-7);

    font-size: 0.95em;
    font-weight: 450;
}

.ui-domain-page.config-items-page .config-items-container .config-section-header .panel-sides {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ui-domain-page.config-items-page .config-items-container .config-section-header .icon-container {
    position: relative;

    flex-shrink: 0;
    user-select: none;

    width: 7rem;
    height: 7rem;
}

.ui-domain-page.config-items-page .config-items-container .config-section-header .icon-container > .circle-bkg {
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 50%;

    overflow: hidden;

    background-color: var(--color-blue-t-04);
    box-shadow: 0 0 0 3px var(--color-blue-t-04);
}

.ui-domain-page.config-items-page .config-items-container .config-section-header .icon-container > .circle-bkg > .icon-repeat {
    position: absolute;
    z-index: 0;

    width: 100%;
    height: 100%;

    background-size: 4.5em;
    background-position: 50% 50%;

    transform: rotate(15deg);
}

.ui-domain-page.config-items-page .config-items-container .config-section-header .icon-container > .icon {
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.ui-domain-page.config-items-page .config-items-container .config-section-header .icon-container > .icon > span {
    color: var(--color-blue-darker);
    font-size: 4.5em;

    transform: rotate(15deg);
}


.ui-domain-page.config-items-page .config-items-container .config-section-header .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

.ui-domain-page.config-items-page .config-items-container .config-section-header .info-container > .section-title {
    font-size: 2em;
    font-weight: 800;
}

.ui-domain-page.config-items-page .config-items-container .config-section-header .info-container > .section-description {
    color: var(--color-gray-7);

    font-size: 0.95em;
    font-weight: 450;
}

.ui-domain-page.config-items-page .config-items-container .config-item {
    cursor: pointer;

    transition: 0.15s ease-in-out;
}

.ui-domain-page.config-items-page .config-items-container .config-item:hover {
    background-color: var(--color-gray-02);
}

.ui-domain-page.config-items-page .config-items-container .config-item .panel-sides {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ui-domain-page.config-items-page .config-items-container .config-item .config-title {
    font-size: 1.1em;
    font-weight: 600;
}

.ui-domain-page.config-items-page .config-items-container .config-item .config-name {
    color: var(--color-gray-50);
    font-size: 0.9em;
    font-weight: 400;
    font-family: "SourceCodePro", monospace;
}

.ui-domain-page.config-items-page .config-items-container .config-item .config-description {
    margin: 1em 0;

    color: var(--color-gray-7);
    font-size: 0.9em;
    font-weight: 400;
}

.ui-domain-page.config-items-page .config-items-container .config-item .config-value-container {
    position: relative;

    padding: 0.5em 1em;

    /* border: 1px solid var(--color-gray-15); */
    border-radius: 5px;
    background-color: var(--color-gray-04);

    transition: 0.15s ease-in-out;
}

.ui-domain-page.config-items-page .config-items-container .config-item:hover .config-value-container {
    box-shadow: 0 0 0 1px var(--color-gray-15);
}

.ui-domain-page.config-items-page .config-items-container .config-item .config-value-container > .edit-hint {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: -1;

    top: 0;
    right: 100%;

    height: 100%;
    width: fit-content;

    margin-right: -0.25em;
    padding: 0 1.05em 0 0.8em;

    pointer-events: none;

    /* box-shadow: 0 0 0 1px var(--color-blue-t-15);
    background-color: var(--color-blue-t-1); */
    box-shadow: 0 0 0 1px var(--color-gray-15);
    background-color: var(--color-gray-1);
    border-radius: 5px 0 0 5px;

    /* Default state */
    transform: translateX(15%);
    opacity: 0;

    transition: 0.15s ease-in-out;
}

.ui-domain-page.config-items-page .config-items-container .config-item:hover .config-value-container > .edit-hint {
    transform: translateX(0%);
    opacity: 1;
}

.ui-domain-page.config-items-page .config-items-container .config-item .config-value-container > .edit-hint > span {
    /* color: var(--color-blue-darker); */
    font-size: 1.15em;
}

.ui-domain-page.config-items-page .config-items-container .config-item .config-value-container > .config-value {
    font-weight: 450;
}
