#user-preferences-page .user-profile-panel {
    padding: 2.5em 1.5em;
}

#user-preferences-page .user-profile-panel .sides {
    display: flex;
    align-items: flex-start;
}

#user-preferences-page .user-profile-panel .sides > .left {
    flex-shrink: 0;
}

#user-preferences-page .user-profile-panel .sides > .left > .avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 300px;
}

#user-preferences-page .user-profile-panel .sides > .left > .avatar-container > .avatar {
    width: 200px;
    height: 200px;

    background-position: 50% 50%;
    background-size: cover;

    border-radius: 50%;
}

#user-preferences-page .user-profile-panel .sides > .right {
    width: 100%;
}

#user-preferences-page .user-profile-panel .sides > .right > .section-name {
    display: flex;
    align-items: center;

    margin: 1.2em 0 0.4em 0;

    color: var(--color-gray-65);

    border-radius: 3px;
}

#user-preferences-page .user-profile-panel .sides > .right > .section-name[title] {
    user-select: none;
    cursor: help;
}

#user-preferences-page .user-profile-panel .sides > .right > .section-name > .text {
    font-size: 0.8em;
    font-weight: 580;
}

#user-preferences-page .user-profile-panel .sides > .right > .section-name > .authority-bubble {
    padding: 0.3em;
    margin-left: 0.4em;
}

#user-preferences-page .user-profile-panel .sides > .right > .section-name > .authority-bubble.authority-user {
    background-color: #ff6200;
    transform: rotate(45deg);

    margin-left: 0.5em;
}

#user-preferences-page .user-profile-panel .sides > .right > .section-name > .authority-bubble.authority-high {
    background-color: var(--color-blue-lighter);
    border-radius: 50%;
}

#user-preferences-page .user-profile-panel .sides > .right > .username {
    font-size: 2em;
    font-weight: 800;
}

#user-preferences-page .user-profile-panel .sides > .right > .email-address {
    color: var(--color-gray-65);
    font-size: 1em;
    font-weight: 500;
}

#user-preferences-page .user-profile-panel .sides > .right > .user-groups {
    display: flex;
    align-items: center;
}

#user-preferences-page .user-profile-panel .sides > .right > .user-groups > .group {
    margin-right: 0.4em;
    
    padding: 0.2em 0.4em;

    color: var(--color-blue);
    font-family: "SourceCodePro", monospace;
    font-size: 0.9em;
    font-weight: 480;

    background-color: var(--color-blue-t-04);
    border-radius: 4px;
}

#user-preferences-page .user-profile-panel .sides > .right > .bio {
    box-sizing: border-box;

    width: 100%;
    height: 9em;

    padding: 0.66em 1em;

    font-size: 0.95em;
    font-weight: 420;

    background-color: var(--color-gray-02);
    border-radius: 4px;
}

#user-preferences-page .user-sessions-panel .sessions-list {
    margin-top: 1em;
}

#user-preferences-page .user-sessions-panel .sessions-list > .session {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;

    margin: 0.2em 0;
    padding: 0.5em;

    border-radius: 6px;

    transition: 0.15s;
}

#user-preferences-page .user-sessions-panel .sessions-list > .session.destroyed {
    color: var(--color-gray-65);
}

#user-preferences-page .user-sessions-panel .sessions-list > .session.destroyed > .left > .client-info {
    color: var(--color-gray-65);
    
    text-decoration: line-through;
}

#user-preferences-page .user-sessions-panel .sessions-list > .session:hover {
    /* box-shadow: 0 0 0 1px var(--color-gray-04); */
    background-color: var(--color-gray-04);
}

#user-preferences-page .user-sessions-panel .sessions-list > .session > .left {
    margin-left: 0.5em;
}

#user-preferences-page .user-sessions-panel .sessions-list > .session > .left > .client-info {
    font-weight: 600;
    font-size: 0.95em;
}

#user-preferences-page .user-sessions-panel .sessions-list > .session > .left > .device-info {
    font-weight: 450;
    font-size: 0.95em;
}

#user-preferences-page .user-sessions-panel .sessions-list > .session > .left > .other-info {
    margin-top: 0.5em;

    color: var(--color-gray-7);
    font-weight: 450;
    font-size: 0.8em;
}

#user-preferences-page .user-sessions-panel .sessions-list > .session > .right {
    /* Default state */
    opacity: 0;

    transition: 0.15s;
}

#user-preferences-page .user-sessions-panel .sessions-list > .session:hover > .right {
    opacity: 1;
}
