@import "@/variables.less";

/* Inter */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

/* SourceCodePro */
@font-face {
  font-family: "SourceCodePro";
  src: url("/assets/fonts/SourceCodePro-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
  font-style: italic;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/assets/fonts/SourceCodePro-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

/* Fantasque Sans Mono */
@font-face {
  font-family: "FantasqueSansMono";
  src: url("/assets/fonts/fantasquesansmono-regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "FantasqueSansMono";
  src: url("/assets/fonts/fantasquesansmono-italic.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "FantasqueSansMono";
  src: url("/assets/fonts/fantasquesansmono-bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "FantasqueSansMono";
  src: url("/assets/fonts/fantasquesansmono-bolditalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;

  color: var(--color-text);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: var(--text-body);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "SourceCodePro", monospace;
  /* font-family: "FantasqueSansMono", monospace; */
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background: var(--color-border-15);
}

i {
  font-style: normal;
  font-variation-settings: "slnt" -10;
}

:root {
  --text-sm: 12px;
  --text-body: 13px;
  --text-body2: 14px;
  --text-md: 15px;
  --text-lg: 16px;

  --color-text: rgb(21, 23, 46);

  --color-text-grey-025: hsl(234, 22%, 12.5%);
  --color-text-grey-05: hsl(234, 20%, 25%);
  --color-text-grey-075: hsl(234, 18%, 33%);
  --color-text-grey-1: hsl(234, 16%, 50%);

  --color-text-header: hsl(234, 100%, 12%);

  --color-border-1: hsl(0, 0%, 95%);
  --color-border-15: hsl(0, 0%, 90%);
  --color-border-2: hsl(0, 0%, 80%);
  --color-border-25: hsl(0, 0%, 70%);
  --color-border-3: hsl(0, 0%, 60%);
  --color-border-4: hsl(0, 0%, 40%);

  --color-grey-05: hsl(0, 0%, 99%);
  --color-grey-1: hsl(0, 0%, 98%);
  --color-grey-15: hsl(0, 0%, 96%);
  --color-grey-2: hsl(0, 0%, 95%);

  --color-primary: #0017e6;
  --color-primary-l-1: hsl(234, 100%, 50%);
  --color-primary-d-1: hsl(234, 100%, 33%);

  --color-primary-d-1-t-1: hsla(234, 100%, 33%, 0.1);
  --color-primary-d-1-t-4: hsla(234, 100%, 33%, 0.4);
  --color-primary-d-1-t-5: hsla(234, 100%, 33%, 0.5);

  --color-primary-l-1-t-1: hsla(234, 100%, 50%, 0.1);
  --color-primary-l-1-t-05: hsla(234, 100%, 50%, 0.05);
  --color-primary-l-1-t-025: hsla(234, 100%, 50%, 0.025);

  --color-primary-t-025: rgba(0, 23, 230, 0.025);
  --color-primary-t-05: rgba(0, 23, 230, 0.05);
  --color-primary-t-1: rgba(0, 23, 230, 0.1);
  --color-primary-t-15: rgba(0, 23, 230, 0.15);
  --color-primary-t-2: rgba(0, 23, 230, 0.2);
  --color-primary-t-25: rgba(0, 23, 230, 0.25);
  --color-primary-t-3: rgba(0, 23, 230, 0.3);
  --color-primary-t-5: rgba(0, 23, 230, 0.5);

  --color-primary-o-1: rgb(230, 232, 253);

  --color-warning: #faf200;
  --color-warning-d-1: hsl(36, 80%, 60%);
  --color-warning-d-2: hsl(36, 100%, 45%);
  --color-warning-t-1: rgba(250, 242, 0, 0.1);
  --color-warning-t-3: rgba(250, 242, 0, 0.3);

  --color-error: hsl(355, 100%, 49%);
  --color-error-d-1: hsl(355, 100%, 35%);
  --color-error-o-1: rgb(255, 230, 232);
  --color-error-o-2: rgb(254, 204, 208);
  --color-error-t-1: rgba(252, 0, 21, 0.1);
  --color-error-t-3: rgba(252, 0, 21, 0.33);

  --color-success: #22cc00;
  --color-success-t-1: rgba(34, 204, 0, 0.1);
  --color-success-t-2: rgba(34, 204, 0, 0.2);
  --color-success-t-3: rgba(34, 204, 0, 0.3);
}
