@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
}

body {
  margin: 0;

  color: var(--color-text);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: var(--text-body);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-sm: 12px;
  --text-body: 13px;
  --text-body2: 14px;
  --text-md: 15px;
  --text-lg: 16px;

  --color-text: hsl(0, 0%, 5%);

  --color-border: #e9e9e9;
}
