@import "@/variables.less";

.ui-dropdown-pill-container {
  position: relative;

  > .dropdown-pill {
    position: relative;
    z-index: 0;

    display: flex;
    align-items: center;

    gap: 0.5em;

    padding: 0.33em 0.66em;

    color: var(--color-text-grey-025);
    font-weight: 500;
    font-size: var(--text-sm);
    font-family: "Inter", sans-serif;

    border: none;
    border-radius: 7px;
    background: none;

    background-color: rgba(@brand-black-rgb, 0.04);

    cursor: pointer;

    transition: 0.15s;

    > .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    > .spacer-dot {
      width: 3px;
      height: 3px;

      background-color: var(--color-border-3);
      border-radius: 50%;

      transition: 0.15s;
    }

    &:hover {
      background-color: white;

      box-shadow: 0 0 1px 0 @border-primary,
        0 5px 10px 0 rgba(@brand-black-rgb, 0.05);
    }

    &:active {
      transition: 0s;

      background-color: var(--color-border-1);
    }
  }

  &.expanded > .dropdown-pill {
    box-shadow: none;
    background-color: rgba(@brand-black-rgb, 0.075);
  }

  > .dropdown-content {
    position: absolute;
    z-index: 100;

    margin-top: 0.33em;

    width: fit-content;
    min-width: 125%;

    top: 100%;
    right: 0;

    border-radius: 7px;

    box-shadow: 0 0 1px 0 @border-light,
      0 5px 10px 0 rgba(@brand-black-rgb, 0.075);

    background-color: white;

    overflow: hidden;

    // hidden state
    opacity: 0;
    pointer-events: none;

    transition: 0.15s;

    > .items {
      display: flex;
      flex-direction: column;

      padding: 0.33em 0;

      > .item {
        display: flex;
        align-items: center;

        padding: 0.33em 1.33em;

        color: var(--color-text-grey-025);
        font-weight: 420;
        font-size: var(--text-sm);
        font-family: "Inter", sans-serif;

        background: none;
        border: none;

        cursor: pointer;

        transition: 0.15s;

        > .icon {
          display: flex;
          align-items: center;
          justify-content: center;

          margin-right: 1em;

          > .ui-icon {
            transition: 0.15s;
          }
        }

        > .label {
          white-space: nowrap;
        }

        &:hover {
          color: var(--color-primary-d-1);

          background-color: var(--color-primary-d-1-t-1);

          > .icon > .ui-icon {
            color: var(--color-primary-d-1);
            font-variation-settings: "FILL" 1, "wght" 500, "GRAD" -25, "opsz" 14 !important;
          }
        }
      }
    }
  }

  &.expanded > .dropdown-content {
    opacity: 1;
    pointer-events: auto;
  }
}
