@import "@/variables.less";

.ui-tabs-container {
  display: flex;
  align-items: center;

  border-bottom: 2px solid rgba(@brand-black-rgb, 0.1);
}

.ui-tab-content {
  padding: 1.5em;

  background-color: rgba(@brand-black-rgb, 0.01);

  border-bottom-left-radius: @border-radius-primary;
  border-bottom-right-radius: @border-radius-primary;

  box-shadow: 0 0 0 1px rgba(@brand-black-rgb, 0.05);
}

.ui-tab {
  display: flex;

  padding: 0.75em 1.25em;

  font-family: "Inter", sans-serif;
  font-weight: 550;
  font-size: var(--text-sm);
  color: var(--color-text-grey-075);

  border: 0;
  background-color: white;

  cursor: pointer;

  transition: 0.15s;

  &.selected {
    color: var(--color-primary-d-1);

    box-shadow: 0 2px 0 0 var(--color-primary-d-1);

    &:hover {
      color: var(--color-primary-d-1);
    }
  }

  &:hover {
    background-color: var(--color-grey-15);
  }
}
