.ui-list-container {
  border-radius: 5px;

  border: 1px solid var(--color-border-15);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.05);

  > .list-head {
    padding: 1em;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    background-color: var(--color-grey-05);

    border-bottom: 1px solid var(--color-border-15);
  }

  > .list-footer {
    padding: 1em;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color: var(--color-grey-05);

    border-top: 1px solid var(--color-border-15);
  }

  > .list-entries {
    display: flex;
    flex-direction: column;

    > * {
      padding: 0.5em 1em;

      border-bottom: 1px solid var(--color-border-15);

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
