@import "@/variables.less";

.ui-card {
  border-radius: @border-radius-primary;

  background-color: white;
  box-shadow: @border-light, 0 1px 2px 0 rgba(@brand-black-rgb, 0.05),
    0 5px 10px 0 rgba(@brand-black-rgb, 0.075);
}

.ui-list-container {
  > .list-head {
    margin-bottom: 2em;
  }

  > .list-footer {
    margin-top: 1em;

    padding: 1.25em;
    .ui-card();
  }

  > .list-entries {
    display: flex;
    flex-direction: column;

    .ui-card();

    &:empty {
      display: none;
    }

    > * {
      position: relative;

      padding: 0.25em 0.25em 0.25em 1em;

      transition: background-color 0.1s, box-shadow 0.1s;

      border-bottom: 1px solid var(--color-border-1);

      .entry-actions {
        opacity: 0;

        transition: 0.1s;
      }

      &:hover {
        > .entry-actions {
          opacity: 1;
        }
      }

      &.selected {
        background-color: var(--color-primary-l-1-t-05);
        border-bottom: 1px solid var(--color-primary-l-1-t-1);

        &:first-child {
          border-top-left-radius: @border-radius-primary;
          border-top-right-radius: @border-radius-primary;
        }

        &:last-child {
          border-bottom: none;

          border-bottom-left-radius: @border-radius-primary;
          border-bottom-right-radius: @border-radius-primary;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
