@import "@/variables.less";

.default-box-shadow {
  box-shadow: 0 0 1px 0 rgba(21, 23, 46, 0.1),
    0 0 0.5em 0 rgba(21, 23, 46, 0.05);
}

#page-storage-file-explorer {
  width: 100%;

  > .page-container {
    display: flex;
    align-items: flex-start;

    gap: 0.5em;

    height: 100%;

    > .browser-container {
      display: flex;
      flex-direction: column;

      gap: 0.5em;

      width: 100%;
      height: 100%;

      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      > .top-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;

        flex-shrink: 0;

        padding: 0.5em 1em;

        min-height: 30px;

        background-color: white;

        border-radius: 10px;

        .default-box-shadow();

        .top-container-separator {
          width: 2px;
          height: 15px;

          background-color: var(--color-border-15);

          border-radius: 2px;
        }

        .entries-search-container {
          > input {
            padding: 0.33em 0.66em;

            width: 5em;

            color: var(--color-text);
            font-family: "Inter", sans-serif;
            font-size: var(--text-sm);
            font-weight: 450;

            background-color: var(--color-grey-15);
            border: none;
            border-radius: 4px;

            outline: none;

            transition: 0.15s;

            &::placeholder {
              color: var(--color-text-grey-075);
              font-family: "Inter", sans-serif;
              font-size: var(--text-sm);
              font-weight: 500;
            }

            &:focus {
              box-shadow: 0 0 0 1px var(--color-border-3);
              background-color: var(--color-grey-1);
            }

            &.non-empty,
            &:active,
            &:focus,
            &:hover {
              width: 10em;
            }
          }
        }
      }

      > .browser-contents {
        box-sizing: border-box;

        height: 100%;

        padding: 1em;

        overflow-y: overlay;

        background-color: white;

        .default-box-shadow();

        border-radius: 10px;

        .__default-scrollbar();

        > .items {
          display: flex;

          flex-flow: wrap;
          gap: 0.8em;

          > .item {
            position: relative;

            width: 120px;

            height: fit-content;

            border-radius: 6px;

            background-color: var(--color-grey-15);

            box-shadow: 0 5px 10px 0 rgba(21, 23, 46, 0.075);

            transition: 0.15s;

            user-select: none;
            cursor: pointer;

            * {
              user-select: none;
            }

            &.dragging {
              opacity: 0.5;
            }

            &.context-menu-target,
            &:hover {
              box-shadow: 0 3px 7px 0 rgba(21, 23, 46, 0.125);

              background-color: var(--color-grey-2);

              > .item-info {
                box-shadow: 0 0 1px 0 rgba(21, 23, 46, 1);

                background-color: var(--color-grey-15);
              }
            }

            &:hover,
            &.selected {
              > .item-select-container {
                opacity: 1;
                pointer-events: all;
              }
            }

            &.selected {
              background-color: var(--color-primary-t-2);
              box-shadow: 0 0 0 2px var(--color-primary-t-2),
                0 3px 15px var(--color-primary-t-15);

              &:hover {
                background-color: var(--color-primary-t-25);

                box-shadow: 0 0 0 2px var(--color-primary-t-25),
                  0 3px 15px var(--color-primary-t-15);

                > .item-info {
                  background-color: var(--color-primary-o-1);
                }
              }

              > .item-info {
                background-color: var(--color-primary-o-1);
                box-shadow: none;
              }

              > .item-thumb {
                > .icon {
                  color: var(--color-primary-d-1);
                }
              }
            }

            &.context-menu-target {
              transform: scale(0.95);
            }

            > .item-drop-here-hint {
              position: absolute;
              z-index: 10;

              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              gap: 1.5em;

              top: 0;
              left: 0;

              width: 100%;
              height: 100%;

              pointer-events: none;

              color: var(--color-primary-d-1);

              border-radius: 6px;
              background-color: var(--color-primary-o-1);
              border: 1px solid var(--color-primary-t-3);

              // hidden state
              opacity: 0;

              transition: 0.15s;

              > .ui-icon {
                // default state
                transform: scale(0.75);

                transition: 0.15s;
              }

              > .folder-name {
                max-width: 80%;
                max-height: 2ch;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                font-weight: 600;

                // default state
                transform: translateY(5px);

                transition: 0.15s;
              }
            }

            &.about-to-receive {
              transform: scale(0.95);

              > .item-drop-here-hint {
                opacity: 1;

                > .ui-icon {
                  transform: scale(1);
                }

                > .folder-name {
                  transform: translateY(0);
                }
              }
            }

            > .item-select-container {
              position: absolute;
              z-index: 2;

              top: 0.5em;
              left: 0.5em;

              padding: 2px;

              background-color: rgba(255, 255, 255, 0.6);
              // box-shadow: 0 0 0 1px var(--color-border-2);

              border-radius: 6px;

              // hidden state
              opacity: 0;
              pointer-events: none;
            }

            > .item-thumb {
              position: relative;
              z-index: 0;

              width: 100%;
              height: 6em;

              border-top-right-radius: 6px;
              border-top-left-radius: 6px;

              transition: 0.15s;

              > .thumbnail {
                width: 100%;
                height: calc(100% + 4px);

                border-top-right-radius: inherit;
                border-top-left-radius: inherit;

                object-fit: cover;
              }

              > .icon {
                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                color: rgb(21, 23, 46);

                > * {
                  text-shadow: 2px 2px rgba(21, 23, 46, 0.2);
                }
              }
            }

            > .item-info {
              position: relative;
              z-index: 1;

              flex-shrink: 0;
              padding: 0.5em 0.75em;

              user-select: none;

              background-color: white;
              box-shadow: 0 0 1px 0 rgba(21, 23, 46, 0.66);

              border-radius: 6px;

              transition: 0.15s;

              > .item-name {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                font-size: var(--text-body);
                font-weight: 500;

                > .name-input {
                  color: var(--color-text);
                  font-size: var(--text-body);
                  font-weight: 500;
                  font-family: "Inter", sans-serif;

                  border: none;
                  outline: none;

                  width: 100%;

                  background-color: transparent;
                }

                > .name {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;

                  color: var(--color-text);
                }

                > .extension {
                  flex-shrink: 0;

                  color: var(--color-text-grey-1);
                }
              }
            }
          }

          &.layout-slates {
            > .item {
              > .item-thumb {
                display: none;
              }

              > .item-select-container {
                left: unset;

                top: 0.25em;
                right: 0.25em;
              }

              &.selected,
              &:hover {
                > .item-info {
                  padding-right: 2.25em;
                }
              }
            }
          }
        }
      }
    }

    > .side-panel {
      flex-shrink: 0;

      width: 250px;
      height: 100%;

      background-color: white;

      box-shadow: 0 0 1px 0 rgba(21, 23, 46, 0.1),
        0 0 0.5em 0 rgba(21, 23, 46, 0.05);

      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      overflow-y: auto;

      .__default-scrollbar();
    }
  }
}
