@import "@/variables.less";

.ui-button {
  /* Normal state */
  &.primary > button {
    box-shadow: 0 0 1px 0 @border-primary,
      0 0 0.5em 0 rgba(@brand-black-rgb, 0.05);
    background-color: white;
  }

  &.secondary > button {
    background-color: rgba(@brand-black-rgb, 0.033);
  }

  &.text > button {
    background-color: transparent;
  }

  /* Hovered state */
  &.primary > button:hover {
    box-shadow: 0 0 1px 0 rgba(21, 23, 46, 1),
      0 5px 10px 0 rgba(21, 23, 46, 0.066);
  }

  &.secondary > button:hover {
    box-shadow: 0 0 1px 0 rgba(21, 23, 46, 0.5),
      0 5px 10px 0 rgba(21, 23, 46, 0.066);
  }

  &.text > button:hover {
    box-shadow: 0 0 1px 0 rgba(21, 23, 46, 0.5),
      0 5px 10px 0 rgba(21, 23, 46, 0.066);
  }

  /* Active state */
  &.primary > button:active {
    transition: 0s;

    background-color: rgba(@brand-black-rgb, 0.05);
    box-shadow: 0 0 1px 0 rgba(21, 23, 46, 1),
      0 2px 4px 0 rgba(21, 23, 46, 0.075);
  }

  &.secondary > button:active {
    transition: 0s;

    background-color: rgba(@brand-black-rgb, 0.05);
    box-shadow: 0 0 1px 0 rgba(21, 23, 46, 0.75),
      0 2px 4px 0 rgba(21, 23, 46, 0.075);
  }

  &.text > button:active {
    transition: 0s;

    background-color: rgba(@brand-black-rgb, 0.05);
    box-shadow: 0 0 1px 0 rgba(21, 23, 46, 0.75),
      0 2px 4px 0 rgba(21, 23, 46, 0.075);
  }

  &.disabled > button {
    pointer-events: none;

    color: var(--color-text-grey-1);

    background-color: var(--color-grey-15);
    box-shadow: inset 0 0 0 1px var(--color-grey-15);
  }

  &.md {
    > button {
      padding: 0.75em 1.4em;
    }
  }

  &.sm {
    > button {
      padding: 0.5em 1em;
    }
  }

  &.xs {
    > button {
      padding: 0.25em 0.5em;
    }
  }
  > button {
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: var(--text-body);

    cursor: pointer;
    user-select: none;
    white-space: nowrap;

    border: none;
    border-radius: 7px;

    transition: 0.15s;

    > .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      > .ui-icon {
        // color: hsl(0, 0%, 20%);

        &:first-child {
          margin-right: 0.75em;
        }

        &:only-child {
          margin-right: 0;
        }
      }
    }
  }
}
