.ui-list-entry-link {
  position: relative;
  display: flex;
  width: fit-content;

  > a {
    color: var(--color-text);
    text-decoration: none;

    > .content {
      cursor: pointer;

      // Hidden state
      background-color: transparent;

      transition: 0.15s;
    }
  }

  &:hover > a > .content {
    color: var(--color-primary-d-1);
    background-color: var(--color-primary-t-1);

    box-shadow: -4px 0 0 var(--color-primary-t-1),
      4px 0 0 var(--color-primary-t-1);

    border-radius: 4px;

    // color: white;
    // background-color: var(--color-primary);

    > .ui-text {
      text-decoration: underline;
    }
  }

  > .arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    height: 100%;

    padding: 0.33em 0.15em;

    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 0.6em;

    color: var(--color-primary-d-1);
    background-color: var(--color-primary-t-1);

    border-radius: 4px;

    cursor: pointer;

    // Hidden state
    opacity: 0;
    transform: translateY(-50%) translateX(-25%);

    transition: 0.15s;
  }

  &:hover > .arrow {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
}
