@import "@/variables.less";

@keyframes modal-show {
  0% {
    opacity: 0.25;
    transform: matrix3d(
      0.9,
      0,
      0,
      0,
      0,
      0.9,
      0,
      -0.001,
      0,
      0,
      1,
      0,
      0,
      0,
      0,
      1.5
    );
  }
  100% {
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

#app-main {
  display: flex;
  align-items: flex-start;

  height: 100vh;
  overflow: hidden;

  background-color: rgba(@brand-black-rgb, 0.025);

  > .app-bkg-pattern {
    position: fixed;
    z-index: -1;

    top: 0;
    left: 0;

    width: 100vw;
    height: 100vw;

    background-position: 50% 50%;
    background-repeat: repeat;
  }
}

#app-modals-container {
  position: fixed;
  z-index: 100;

  width: 100vw;
  height: 100vh;

  pointer-events: none;
}

#app-modals-container .ui-modal-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.66);

  pointer-events: none;

  // Hidden state
  opacity: 0;

  transition: 0.15s ease-in-out;

  > .ui-modal {
    max-width: 800px;
    max-height: 80vh;

    border-radius: 15px;
    background-color: white;

    box-shadow: 0 5px 15px 0 rgba(255, 255, 255, 0.05);

    // Hidden state
    opacity: 0;
    pointer-events: none;
    transform: translateY(10%) scale(0.97);

    transition: 0.15s ease-in-out;

    animation: modal-show 0.33s cubic-bezier(0, 0.55, 0.45, 1);
    animation-play-state: running;

    > .modal-header {
      padding: 1.5em 2em 0 2em;
    }

    > .modal-content {
      padding: 2em;
    }
  }

  &.open {
    opacity: 1;
    pointer-events: all;
  }

  &.open > .ui-modal {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0) scale(1);
  }
}
