.ui-text {
  display: inline-flex;

  margin: 0;
}

h1.ui-text {
  color: var(--color-text-header);

  font-size: 2em;
  font-weight: 800;
}

h2.ui-text {
  color: var(--color-text-header);

  font-size: 1.5em;
  font-weight: 700;
}

h3.ui-text {
  color: var(--color-text-header);

  font-size: 1.2em;
  font-weight: 600;
}

.ui-text.body2 {
  font-size: var(--text-body2);
}

.ui-text.secondary {
  color: var(--color-text-grey-1);
}

.ui-text.pill {
  padding: 0.15em 0.66em;
  border-radius: 3px;
  width: fit-content;
  background-color: var(--color-border-15);
}
