#mainroute-horizontal-container {
    display: flex;
}

#mainroute-horizontal-container > div {
    flex-shrink: 0;
}

#mainroute-aside-container {
    width: 300px;
}

#mainroute-aside-container > .aside {

}

#mainroute-aside-container > .aside > .content {
    
}

#mainroute-aside-container > .aside > .content > .userspace {
    padding: 0.5em 0.75em;
}

#mainroute-aside-container > .aside > .content > .userspace > .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .left {
    
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .left > .user {
    display: flex;
    align-items: center;

    padding: 0.5em;

    font-size: 0.85em;
    font-weight: 500;

    border-radius: 6px;

    cursor: pointer;

    transition: 0.15s;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .left > .user:hover {
    background-color: var(--color-gray-04);
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .left > .user > .user-avatar {
    width: 30px;
    height: 30px;

    margin-right: 0.75em;

    background-position: 50% 50%;
    background-size: cover;

    border-radius: 25%;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .left > .user > .user-username {
    user-select: none;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right {
    
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container {
    display: flex;
    align-items: center;

    padding: 0.33em 0.5em;

    border-radius: 6px;

    cursor: pointer;

    transition: 0.15s;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container:hover {
    background-color: var(--color-gray-04);
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container > .notifications-icon {
    position: relative;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container > .notifications-icon > .bubble {
    position: absolute;
    z-index: 1;

    bottom: 0;
    right: 0;

    width: 0.45em;
    height: 0.45em;
    
    background-color: var(--color-red);
    border-radius: 50%;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container > .notifications-icon > span {
    user-select: none;
    color: var(--color-gray-7);
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container.has-unread > .notifications-icon > span {
    transform: rotate(15deg);
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container > .notifications-count-container {
    display: flex;
    align-items: center;

    padding: 0.2em 0.55em;

    margin-right: 0.66em;

    color: white;
    font-size: 0.7em;
    font-weight: 500;

    background-color: var(--color-red);
    border-radius: 10px;

    user-select: none;

    /* Hidden by default */
    opacity: 0;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container > .notifications-count-container > .icons {
    display: flex;
    align-items: center;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container > .notifications-count-container > .icons > span {
    font-size: 1em;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container > .notifications-count-container > .icons > span:first-of-type {
    margin-left: 0.5em;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container.has-unread > .notifications-count-container {
    opacity: 1;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container.has-unread > .notifications-icon > span {
    color: black;
}

#mainroute-aside-container > .aside > .content > .misc {
    padding: 0.5em 0.75em;
}

#mainroute-aside-container > .aside > .content > .misc > .search-container {
    display: flex;
    align-items: center;
}

#mainroute-aside-container > .aside > .content > .misc > .search-container > .searchbar {
    width: 100%;
}

#mainroute-aside-container > .aside > .content > .misc > .search-container > .searchbar > input {
    box-sizing: border-box;

    width: 100%;

    padding: 0.4em 0.8em;

    font-family: "Inter", sans-serif;
    font-size: 0.8em;
    font-weight: 450;

    border: 0;
    background-color: var(--color-gray-04);
    border-radius: 6px;

    outline: none;

    transition: 0.15s;
}

#mainroute-aside-container > .aside > .content > .misc > .search-container > .link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1.6em;
    width: 1.6em;
    flex-shrink: 0;

    margin-left: 0.4em;

    background-color: var(--color-gray-04);
    border-radius: 6px;

    user-select: none;
    cursor: pointer;

    transition: 0.15s;
}

#mainroute-aside-container > .aside > .content > .misc > .search-container > .searchbar > input:hover,
#mainroute-aside-container > .aside > .content > .misc > .search-container > .link:hover {
    background-color: var(--color-gray-1);
}

#mainroute-aside-container > .aside > .content > .misc > .search-container > .link > span {
    color: var(--color-gray-7);
    font-size: 1em;
}

#mainroute-aside-container > .aside > .content > .menu > .links {
    padding: 0.5em 0.75em;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5em;
    margin: 0.1em 0;

    user-select: none;
    cursor: pointer;

    border-radius: 6px;

    transition: 0.15s;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link.small {
    padding: 0.3em 0.45em;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link:hover {
    background-color: var(--color-gray-04);
}

#mainroute-aside-container > .aside > .content > .menu > .links .link.is-selected {
    background-color: var(--color-blue-t-02);
}

#mainroute-aside-container > .aside > .content > .menu > .links .link > .left {
    position: relative;

    display: flex;
    align-items: center;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link > .left > .selection-indicator {
    position: absolute;

    top: 0;

    width: 4px;

    border-radius: 1em;

    background-color: var(--color-blue);
    opacity: 0.85;

    /* Default state */
    height: 0;
    
    transition: 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

#mainroute-aside-container > .aside > .content > .menu > .links .link.small > .left > .selection-indicator {
    width: 3px;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link.is-selected > .left > .selection-indicator {
    height: 100%;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link > .left > .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 0.8em;
    margin-right: 1em;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link.small > .left > .icon {
    margin-left: 0.5em;
    margin-right: 0.6em;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link > .left > .icon > span {
    font-size: 1.25em;
    color: var(--color-gray-7);
}

#mainroute-aside-container > .aside > .content > .menu > .links .link.small > .left > .icon > span {
    font-size: 1em;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link > .left > .text-container {

}

#mainroute-aside-container > .aside > .content > .menu > .links .link > .left > .text-container > .name {
    font-size: 0.9em;
    font-weight: 580;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link.small > .left > .text-container > .name {
    font-size: 0.75em;
    font-weight: 510;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link > .left > .text-container > .description {
    color: var(--color-gray-7);
    font-size: 0.7em;
    font-weight: 450;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link > .right {
    position: relative;

    display: flex;
    align-items: center;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link > .right > .needs-attention-bubble {
    width: 0.5em;
    height: 0.5em;

    background-color: var(--color-red);
    box-shadow: 0 0 0 0.15em white;
    border-radius: 50%;

    /* Default state */
    opacity: 0;

    transition: 0.15s ease-in-out;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link.needs-attention > .right > .needs-attention-bubble {
    opacity: 1;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link.needs-attention:not(.is-selected):hover > .right > .needs-attention-bubble {
    transform: translateX(-1em);
}

#mainroute-aside-container > .aside > .content > .menu > .links .link > .right > .arrow-icon {
    position: absolute;

    margin-left: 0em;

    font-size: 1em;

    user-select: none;

    /* Default state */
    opacity: 0;

    transition: 0.15s ease-in-out;
}

#mainroute-aside-container > .aside > .content > .menu > .links .link:not(.is-selected):hover > .right > .arrow-icon {
    margin-left: -0.5em;

    opacity: 1;
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-spacer {
    width: 85%;
    height: 3px;

    margin: 0.8em auto;

    background-color: var(--color-gray-04);
    border-radius: 3px;
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section {
    margin-top: 0.5em;

    overflow: hidden;
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section > .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.25em 0.5em;

    border-radius: 6px;

    user-select: none;
    cursor: pointer;

    transition: 0.15s;
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section.is-expanded > .section-header {
    margin-bottom: 0.25em;
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section > .section-header:hover {
    background-color: var(--color-gray-04);
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section > .section-header > .left {
    display: flex;
    align-items: center;
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section > .section-header > .left > .menu-section-shape {
    width: 12px;
    height: 3px;

    background-color: var(--color-gray-2);
    border-radius: 3px;

    margin-right: 0.5em;
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section > .section-header > .left > .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 0.5em;
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section > .section-header > .left > .icon > span {
    color: var(--color-gray-7);
    font-size: 0.75em;
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section > .section-header > .left > .name {
    color: var(--color-gray-7);
    font-size: 0.75em;
    font-weight: 500;
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section > .section-header > .right > .expand-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    /* Default state */
    opacity: 0;
    transform: translateY(-3px);
    
    transition: 0.15s;
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section.is-expanded > .section-header > .right > .expand-icon {
    transform: translateY(3px) rotate(180deg);
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section > .section-header:hover > .right > .expand-icon {
    opacity: 1;
    transform: translateY(0);
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section.is-expanded > .section-header:hover > .right > .expand-icon {
    transform: translateY(0) rotate(180deg);
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section > .section-header > .right > .expand-icon > span {
    color: var(--color-gray-7);
    font-size: 1em;
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section > .section-contents {
    /* Default state */
    height: 0;
    opacity: 0;
    transform: translateY(-5%);

    overflow: hidden;

    transition: 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

#mainroute-aside-container > .aside > .content > .menu > .links .menu-section.is-expanded > .section-contents {
    height: unset;
    opacity: 1;
    transform: translateY(0%);
}
