#mainroute-horizontal-container {
    display: flex;
}

#mainroute-aside-container {
    flex-shrink: 0;

    /* TODO use `width: auto` with some max value? */
    width: 300px;
}

#mainroute-aside-container.small {
    width: auto;
}

#mainroute-aside-container > .aside {
    height: 100vh;
    overflow: auto;

    border-right: 1px solid var(--color-gray-04);
}

#mainroute-aside-container.small > .aside {
    overflow: visible;
}

#mainroute-aside-container > .aside::-webkit-scrollbar {
    width: 0.2em;
}
   
#mainroute-aside-container > .aside::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-1);
    border-radius: 0.2em;
}

#mainroute-aside-container > .aside > .content > .userspace {
    padding: 0.5em 0.75em;
}

#mainroute-aside-container.small > .aside > .content > .userspace {
    padding-bottom: 0;
}

#mainroute-aside-container > .aside > .content > .userspace > .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainroute-aside-container.small > .aside > .content > .userspace > .main {
    justify-content: center;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .left {
    position: relative;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .left > .user {
    display: flex;
    align-items: center;

    padding: 0.5em;

    border-radius: 6px;

    cursor: pointer;

    transition: 0.15s;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .left > .log-in-text {
    display: flex;
    align-items: center;

    padding-left: 0.8em;

    font-size: 0.8em;
}

#mainroute-aside-container.small > .aside > .content > .userspace > .main > .left > .log-in-text {
    display: none;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .left > .log-in-text > span.icon {
    margin-right: 0.3em;

    user-select: none;
    
    color: var(--color-gray-7);
    font-size: 1.5em;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .log-in-button {
    padding: 0.8em 1em;

    font-size: 0.8em;
    font-weight: 500;

    border-radius: 6px;

    cursor: pointer;
    user-select: none;

    transition: 0.15s;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .log-in-button:hover,
#mainroute-aside-container > .aside > .content > .userspace > .main > .left > .user:hover {
    background-color: var(--color-gray-04);
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .left > .user > .user-avatar {
    width: 30px;
    height: 30px;

    margin-right: 0.75em;

    background-position: 50% 50%;
    background-size: cover;

    border-radius: 25%;
}

#mainroute-aside-container.small > .aside > .content > .userspace > .main > .left > .user > .user-avatar {
    margin-right: 0;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .left > .user > .user-username {
    user-select: none;

    font-size: 0.85em;
    font-weight: 500;
}

#mainroute-aside-container.small > .aside > .content > .userspace > .main > .left > .user > .user-username {
    display: none;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .left > .user > .expand-icon {
    color: var(--color-gray-7);
    font-size: 1em;

    user-select: none;

    /* Default state */
    opacity: 0;
    margin-left: 0;
    width: 0;
    transform: translateX(-0.25em);
    
    transition: 0.15s;
}

#mainroute-aside-container.small > .aside > .content > .userspace > .main > .left > .user > .expand-icon {
    display: none;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .left > .user > .expand-icon.shown {
    opacity: 1;
    margin-left: 0.5em;
    width: auto;
    transform: translateX(0);
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .left > .user:hover > .expand-icon.shown {
    transform: translateX(0) translateY(-0.075em);
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container {
    display: flex;
    align-items: center;

    padding: 0.33em 0.5em;

    border-radius: 6px;

    cursor: pointer;

    transition: 0.15s;
}

#mainroute-aside-container.small > .aside > .content > .userspace > .main > .right > .notifications-container {
    display: none;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container:hover {
    background-color: var(--color-gray-04);
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container > .notifications-icon {
    position: relative;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container > .notifications-icon > .bubble {
    position: absolute;
    z-index: 1;

    bottom: 0;
    right: 0;

    width: 0.45em;
    height: 0.45em;
    
    background-color: var(--color-red);
    border-radius: 50%;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container > .notifications-icon > span {
    user-select: none;
    color: var(--color-gray-7);
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container.has-unread > .notifications-icon > span {
    transform: rotate(15deg);
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container > .notifications-count-container {
    display: flex;
    align-items: center;

    padding: 0.2em 0.55em;

    margin-right: 0.66em;

    color: white;
    font-size: 0.7em;
    font-weight: 500;

    background-color: var(--color-red);
    border-radius: 10px;

    user-select: none;

    /* Hidden by default */
    opacity: 0;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container > .notifications-count-container > .icons {
    display: flex;
    align-items: center;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container > .notifications-count-container > .icons > span {
    font-size: 1em;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container > .notifications-count-container > .icons > span:first-of-type {
    margin-left: 0.5em;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container.has-unread > .notifications-count-container {
    opacity: 1;
}

#mainroute-aside-container > .aside > .content > .userspace > .main > .right > .notifications-container.has-unread > .notifications-icon > span {
    color: black;
}

#mainroute-aside-container > .aside > .content > .misc {
    padding: 0.5em 0.75em;
}

#mainroute-aside-container.small > .aside > .content > .misc {
    display: none;
}

#mainroute-aside-container > .aside > .content > .misc > .search-container {
    display: flex;
    align-items: center;
}

#mainroute-aside-container > .aside > .content > .misc > .search-container > .searchbar {
    width: 100%;
}

#mainroute-aside-container > .aside > .content > .misc > .search-container > .searchbar > input {
    box-sizing: border-box;

    width: 100%;

    padding: 0.4em 0.8em;

    font-family: "Inter", sans-serif;
    font-size: 0.8em;
    font-weight: 450;

    border: 0;
    background-color: var(--color-gray-04);
    border-radius: 6px;

    outline: none;

    transition: 0.15s;
}

#mainroute-aside-container > .aside > .content > .misc > .search-container > .link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 1.6em;
    width: 1.6em;
    flex-shrink: 0;

    margin-left: 0.4em;

    background-color: var(--color-gray-04);
    border-radius: 6px;

    user-select: none;
    cursor: pointer;

    transition: 0.15s;
}

#mainroute-aside-container > .aside > .content > .misc > .search-container > .searchbar > input:hover,
#mainroute-aside-container > .aside > .content > .misc > .search-container > .link:hover {
    background-color: var(--color-gray-1);
}

#mainroute-aside-container > .aside > .content > .misc > .search-container > .link > span {
    color: var(--color-gray-7);
    font-size: 1em;
}

.ui-aside-container > .aside > .content > .menu > .links {
    padding: 0.5em 0.75em;
}

.ui-aside-container > .aside > .content > .menu > .links .link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5em;
    margin: 0.1em 0;

    user-select: none;
    cursor: pointer;

    border-radius: 6px;

    transition: 0.15s;
}

.ui-aside-container > .aside > .content > .menu > .links .link.small {
    padding: 0.3em 0.45em;
}

.ui-aside-container > .aside > .content > .menu > .links .link:hover {
    background-color: var(--color-gray-04);
}

.ui-aside-container > .aside > .content > .menu > .links .link.is-selected {
    background-color: var(--color-blue-t-02);
}

.ui-aside-container > .aside > .content > .menu > .links .link > .left {
    position: relative;

    display: flex;
    align-items: center;
}

.ui-aside-container.small > .aside > .content > .menu > .links .link > .left {
    width: 100%;
    justify-content: center;
}

.ui-aside-container > .aside > .content > .menu > .links .link > .left > .selection-indicator {
    position: absolute;

    top: 0;
    left: 0;

    width: 4px;

    border-radius: 1em;

    background-color: var(--color-blue);
    opacity: 0.85;

    /* Default state */
    height: 0;
    
    transition: 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

.ui-aside-container > .aside > .content > .menu > .links .link.small > .left > .selection-indicator {
    width: 3px;
}

.ui-aside-container > .aside > .content > .menu > .links .link.is-selected > .left > .selection-indicator {
    height: 100%;
}

.ui-aside-container > .aside > .content > .menu > .links .link > .left > .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 0.8em;
    margin-right: 1em;
}

.ui-aside-container > .aside > .content > .menu > .links .link.small > .left > .icon {
    margin-left: 0.5em;
    margin-right: 0.6em;
}

.ui-aside-container > .aside > .content > .menu > .links .link > .left > .icon > span {
    font-size: 1.25em;
    color: var(--color-gray-7);
}

.ui-aside-container > .aside > .content > .menu > .links .link.small > .left > .icon > span {
    font-size: 1em;
}

.ui-aside-container.small > .aside > .content > .menu > .links .link > .left > .text-container {
    display: none;
}

.ui-aside-container > .aside > .content > .menu > .links .link > .left > .text-container > .name {
    font-size: 0.9em;
    font-weight: 580;
}

.ui-aside-container > .aside > .content > .menu > .links .link.small > .left > .text-container > .name {
    font-size: 0.75em;
    font-weight: 510;
}

.ui-aside-container > .aside > .content > .menu > .links .link > .left > .text-container > .description {
    color: var(--color-gray-7);
    font-size: 0.7em;
    font-weight: 450;
}

.ui-aside-container > .aside > .content > .menu > .links .link > .right {
    position: relative;

    display: flex;
    align-items: center;

    margin-left: 1em;
}

.ui-aside-container.small > .aside > .content > .menu > .links .link > .right {
    display: none;
}

.ui-aside-container > .aside > .content > .menu > .links .link > .right > .needs-attention-bubble {
    width: 0.5em;
    height: 0.5em;

    background-color: var(--color-red);
    box-shadow: 0 0 0 0.15em white;
    border-radius: 50%;

    /* Default state */
    opacity: 0;

    transition: 0.15s ease-in-out;
}

.ui-aside-container > .aside > .content > .menu > .links .link.needs-attention > .right > .needs-attention-bubble {
    opacity: 1;
}

.ui-aside-container > .aside > .content > .menu > .links .link.needs-attention:not(.is-selected):hover > .right > .needs-attention-bubble {
    transform: translateX(-1em);
}

.ui-aside-container > .aside > .content > .menu > .links .link.info-link {
    pointer-events: none;

    margin-top: 0.33em;

    background-color: var(--color-blue-t-06);
    color: var(--color-blue-darker);
}

.ui-aside-container > .aside > .content > .menu > .links .link.info-link .icon > span {
    color: var(--color-blue-darker);
}

.ui-aside-container > .aside > .content > .menu > .links .link > .right > .arrow-icon {
    position: absolute;

    margin-left: 0em;

    font-size: 1em;

    user-select: none;

    /* Default state */
    opacity: 0;

    transition: 0.15s ease-in-out;
}

.ui-aside-container > .aside > .content > .menu > .links .link:not(.is-selected):hover > .right > .arrow-icon {
    margin-left: -0.5em;

    opacity: 1;
}

.ui-aside-container > .aside > .content > .menu > .links .menu-spacer {
    width: 85%;
    height: 3px;

    margin: 0.8em auto;

    background-color: var(--color-gray-04);
    border-radius: 3px;
}

.ui-aside-container > .aside > .content > .menu > .links .menu-section {
    margin-top: 0.5em;

    overflow: hidden;
}

.ui-aside-container > .aside > .content > .menu > .links .menu-section > .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.25em 0.5em;

    border-radius: 6px;

    user-select: none;
    cursor: pointer;

    transition: 0.15s;
}

.ui-aside-container.small > .aside > .content > .menu > .links .menu-section > .section-header {
    pointer-events: none;
}

.ui-aside-container.small > .aside > .content > .menu > .links .menu-section > .section-header,
.ui-aside-container > .aside > .content > .menu > .links .menu-section.is-expanded > .section-header {
    margin-bottom: 0.25em;
}

.ui-aside-container > .aside > .content > .menu > .links .menu-section > .section-header:hover {
    background-color: var(--color-gray-04);
}

.ui-aside-container > .aside > .content > .menu > .links .menu-section > .section-header > .left {
    display: flex;
    align-items: center;
}

.ui-aside-container.small > .aside > .content > .menu > .links .menu-section > .section-header > .left {
    width: 100%;
    justify-content: center;
}

.ui-aside-container > .aside > .content > .menu > .links .menu-section > .section-header > .left > .menu-section-shape {
    width: 12px;
    height: 3px;

    background-color: var(--color-gray-2);
    border-radius: 3px;

    margin-right: 0.5em;
}

.ui-aside-container.small > .aside > .content > .menu > .links .menu-section > .section-header > .left > .menu-section-shape {
    background-color: var(--color-gray-04);
    margin-right: 0;
}

.ui-aside-container > .aside > .content > .menu > .links .menu-section > .section-header > .left > .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 0.5em;
}

.ui-aside-container > .aside > .content > .menu > .links .menu-section > .section-header > .left > .icon > span {
    color: var(--color-gray-7);
    font-size: 0.75em;
}

.ui-aside-container > .aside > .content > .menu > .links .menu-section > .section-header > .left > .name {
    color: var(--color-gray-7);
    font-size: 0.75em;
    font-weight: 500;
}

.ui-aside-container.small > .aside > .content > .menu > .links .menu-section > .section-header > .left > .name {
    display: none;
}

.ui-aside-container > .aside > .content > .menu > .links .menu-section > .section-header > .right > .expand-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    /* Default state */
    opacity: 0;
    transform: translateY(-3px);
    
    transition: 0.15s;
}

.ui-aside-container.small > .aside > .content > .menu > .links .menu-section > .section-header > .right {
    display: none;
}

.ui-aside-container.small > .aside > .content > .menu > .links .menu-section > .section-header > .right > .expand-icon,
.ui-aside-container > .aside > .content > .menu > .links .menu-section.is-expanded > .section-header > .right > .expand-icon {
    transform: translateY(3px) rotate(180deg);
}

.ui-aside-container > .aside > .content > .menu > .links .menu-section > .section-header:hover > .right > .expand-icon {
    opacity: 1;
    transform: translateY(0);
}

.ui-aside-container.small > .aside > .content > .menu > .links .menu-section > .section-header:hover > .right > .expand-icon,
.ui-aside-container > .aside > .content > .menu > .links .menu-section.is-expanded > .section-header:hover > .right > .expand-icon {
    transform: translateY(0) rotate(180deg);
}

.ui-aside-container > .aside > .content > .menu > .links .menu-section > .section-header > .right > .expand-icon > span {
    color: var(--color-gray-7);
    font-size: 1em;
}

.ui-aside-container > .aside > .content > .menu > .links .menu-section > .section-contents {
    /* Default state */
    height: 0;
    opacity: 0;
    transform: translateY(-5%);

    overflow: hidden;

    transition: 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

.ui-aside-container.small > .aside > .content > .menu > .links .menu-section > .section-contents,
.ui-aside-container > .aside > .content > .menu > .links .menu-section.is-expanded > .section-contents {
    height: unset;
    opacity: 1;
    transform: translateY(0%);
}

.ui-aside-container > .aside > .content .aside-arrow-spacer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0.2em 0;

    user-select: none;
}

.ui-aside-container > .aside > .content .aside-arrow-spacer > span {
    color: var(--color-gray-25);
    font-size: 0.9em;
}

#domain-aside-container {
    flex-shrink: 0;
}

#domain-aside-container > .aside {
    height: 100vh;
    overflow: auto;

    max-width: 300px;

    border-right: 1px solid var(--color-gray-04);
}

#domain-aside-container > .aside::-webkit-scrollbar {
    width: 0.2em;
}
   
#domain-aside-container > .aside::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-1);
    border-radius: 0.2em;
}

#domain-aside-container > .aside > .content > .domain-header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5em 0.75em;
    margin-right: 2em;
}

#domain-aside-container > .aside > .content > .domain-header > .left-line {
    position: absolute;

    width: 4px;
    height: 75%;

    background-color: var(--color-gray-1);
    border-radius: 4px;
}

#domain-aside-container > .aside > .content > .domain-header > .content {
    margin-left: 1em;
    
    word-break: break-word;
}

#domain-aside-container > .aside > .content > .domain-header > .content > .header {
    display: flex;
    align-items: center;
}

#domain-aside-container > .aside > .content > .domain-header > .content > .header > .icon {
    margin-right: 0.5em;
}

#domain-aside-container > .aside > .content > .domain-header > .content > .header > .icon > span {
    font-size: 1.7em;
    color: var(--color-gray-7);
}

#domain-aside-container > .aside > .content > .domain-header > .content > .header > .text {
    font-size: 1.5em;
    font-weight: 800;
}

#domain-aside-container > .aside > .content > .domain-header > .content > .subheader {
    color: var(--color-gray-7);
    font-size: 0.7em;
    font-weight: 450;
}

#domain-aside-container > .aside > .content > .domain-header > .content > .target-name {
    display: flex;
    align-items: center;
    
    margin-top: 0.25em;
    
    color: var(--color-blue);
}

#domain-aside-container > .aside > .content > .domain-header > .content > .target-name > .text {
    font-weight: 600;
    font-size: 0.9em;
}

#domain-aside-container > .aside > .content > .domain-header > .content > .target-name > .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

#domain-aside-container > .aside > .content > .domain-header > .content > .target-name > .icon > span {
    font-size: 1em;
}

#domain-aside-container > .aside > .content > .domain-target-info {
    padding: 0.5em 0.75em;
}

#domain-aside-container > .aside > .content > .domain-target-info > .panel {
    padding: 0.4em 0.8em;

    background-color: var(--color-gray-02);
    border-radius: 6px;

    user-select: none;
    cursor: pointer;

    transition: 0.15s;
}

#domain-aside-container > .aside > .content > .domain-target-info > .panel:hover {
    background-color: var(--color-gray-04);
}

#domain-aside-container > .aside > .content > .domain-target-info > .panel > .panel-header {
    color: var(--color-gray-65);
    font-size: 0.8em;
    font-weight: 580;
}

#domain-aside-container > .aside > .content > .domain-target-info > .panel > .panel-content {
    /* Default state */
    margin-top: 0;
    height: 0;
    opacity: 0;
    transform: translateY(-5%);

    overflow: hidden;

    transition: 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

#domain-aside-container > .aside > .content > .domain-target-info > .panel > .panel-content.expanded {
    margin-top: 0.4em;
    height: unset;
    opacity: 1;
    transform: translateY(0%);
}

#domain-aside-container > .aside > .content > .domain-target-info > .panel > .panel-content > .item {
    display: flex;
    align-items: flex-start;

    margin: 0.4em 0;

    font-size: 0.8em;
}

#domain-aside-container > .aside > .content > .domain-target-info > .panel > .panel-content > .item > .key {
    display: flex;
    align-items: center;
    
    font-weight: 500;

    margin-right: 0.4em;
}

#domain-aside-container > .aside > .content > .domain-target-info > .panel > .panel-content > .item > .key > .dot {
    width: 4px;
    height: 4px;

    margin-right: 0.4em;

    background-color: var(--color-blackish);
    border-radius: 50%;
}

#domain-aside-container > .aside > .content > .domain-target-info > .panel > .panel-content > .item > .value {
    font-weight: 350;

    word-break: break-all;
}

#domain-aside-container > .aside > .content > .domain-target-info > .panel > .panel-content > .item > .value.bool-false {
    color: var(--color-red);
    font-weight: 500;
}

#domain-aside-container > .aside > .content > .domain-target-info > .panel > .panel-content > .item > .value.bool-true {
    color: var(--color-green);
    font-weight: 500;
}

.ui-domain {
    display: flex;
    align-items: flex-start;

    width: 100%;
}

@keyframes ui-domain-page-show {
    0% {
        transform: translateY(-1vh);
    }
    
    100% {
        transform: translateY(0);
    }
}

.ui-domain-page {
    width: 100%;
    height: 100vh;

    box-sizing: border-box;

    padding: 0 1.5em;

    overflow: overlay;

    animation: ui-domain-page-show 0.5s cubic-bezier(0.33, 1, 0.68, 1) 0s;
}

.ui-domain-page.no-anim {
    animation: none;
}

.ui-domain-page > .ui-panel-spacer:first-child {
    height: 2em;
}

.ui-domain-page .ui-domain-page-header {
    /* max-width: 900px; */
    width: 90%;

    margin: 2em auto;
}

.ui-domain-page .ui-domain-page-header > .title {
    font-size: 4em;
    font-weight: 800;
}

.ui-domain-page .ui-domain-page-header > .description {
    margin-top: 0.1em;

    color: var(--color-gray-7);
    /* font-size: 0.9em; */
    font-weight: 400;
}

.ui-domain-page.two-sides {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.ui-domain-page.two-sides > .info-side {
    position: relative;

    flex-shrink: 0;
}

.ui-domain-page.two-sides > .info-side > .nav-links {
    margin-bottom: 1em;
}

.ui-domain-page.two-sides > .info-side > .nav-links > .link {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1em 1em;

    color: var(--color-blackish);
    text-decoration: none;
    font-weight: 520;
    font-size: 0.9em;

    background-color: var(--color-gray-04);
    border-radius: 6px;
}

.ui-domain-page.two-sides > .info-side > .nav-links > .link > span {
    font-size: 1em;

    margin-right: 1em;
}

.ui-domain-page.two-sides > .splitter {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    margin: 0 1em;

    width: 1em;
    height: 1em;
    
    padding: 1em 0;
}

.ui-domain-page.two-sides > .splitter > span {
    position: fixed;
    pointer-events: none;

    color: var(--color-gray-2);
    font-size: 1em;
}

.ui-domain-page.two-sides > .info-side > .panels {
    position: fixed;
}

.ui-domain-page.two-sides > .info-side > .panels > .panel {
    box-sizing: border-box;

    padding: 1em 1.3em;
    margin: 0 auto 1em auto;

    font-size: 0.85em;

    background-color: white;
    
    border: 1px solid var(--color-gray-1);
    /* box-shadow: 0 5px 15px 0 rgb(0 0 0 / 4%); */
    border-radius: 6px;
}

.ui-domain-page.two-sides > .info-side,
.ui-domain-page.two-sides > .info-side > .panels,
.ui-domain-page.two-sides > .info-side > .panels > .panel {
    min-width: min(15vw, 300px);
    width: min(15vw, 300px);
}

@keyframes page-obstruction-screen-logo-blink {
    0% {
        color: rgba(0, 0, 0, 0.01);
        transform: scale(1);
        transform: rotate3d(5, -5, 0, -25deg);
    }
    
    50% {
        color: rgba(0, 0, 0, 0.06);
    }

    100% {
        color: rgba(0, 0, 0, 0.01);
        transform: scale(0.9);
        transform: rotate3d(-5, -5, 0, 25deg);
    }
}

@keyframes page-obstruction-screen-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#page-obstruction-screen {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

#page-obstruction-screen > .middle-block {
    display: flex;
    align-items: center;
    flex-direction: column;

    pointer-events: none;
    user-select: none;

    max-width: 400px;

    /* Default state */
    opacity: 0;

    animation: page-obstruction-screen-show 0.66s ease-in-out 0.33s forwards;
}

#page-obstruction-screen > .middle-block.no-anim {
    opacity: 1;
    animation: none;
}

#page-obstruction-screen > .middle-block > .logo-text {
    position: relative;
    z-index: 1;

    margin: 0.15em;

    font-size: 6em;
    font-weight: 900;
    font-family: "SourceCodePro", monospace;

    will-change: transform, opacity;

    /* text-shadow: 4px 4px rgba(0, 0, 0, 0.1); */

    animation: page-obstruction-screen-logo-blink 1s ease-in-out 0s infinite alternate;
}

#page-obstruction-screen > .middle-block > .logo-text.still {
    color: var(--color-gray-04);

    animation: none;
}

#page-obstruction-screen > .middle-block > .text {
    text-align: center;

    color: var(--color-gray-65);
    font-size: 0.7em;
    font-weight: 400;
}

#page-obstruction-screen > .middle-block button {
    pointer-events: all;

    margin-top: 1.5em;
}
