/* Panel */
/* TODO @hack I'm not proud of it... In my defence, it works flawlessly! */
.ui-panel-spacer {
    position: relative;
    z-index: 1;

    background-color: white;

    height: 1.5em;
}

.ui-panel-container {
    position: relative;

    margin: 0 auto;

    min-width: 800px;
    width: 60%;
    max-width: 1000px;

    border-radius: 6px;
}

.ui-panel-container > .ui-panel {
    position: relative;
    z-index: 2;
    
    padding: 1.2em 1.5em;
    
    font-size: 0.85em;
    
    background-color: white;
    border: 1px solid var(--color-gray-1);
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.04);

    border-radius: 6px;
}

.ui-panel-container > .ui-panel > .misc-container {
    position: absolute;
    display: flex;
    align-items: center;

    z-index: 2;

    top: 0;
    right: 0;

    padding: 1.2em 1.5em 0 0;
}

.ui-panel-container > .ui-panel > .misc-container > .info-container {
    display: flex;
    align-items: center;
}

.ui-panel-container > .ui-panel > .misc-container > .info-container > .item {
    display: flex;
    align-items: center;

    padding: 0.6em 1em;

    color: var(--color-blue);
    font-size: 0.8em;
    font-weight: 600;

    background-color: var(--color-blue-t-04);
    border-radius: 4px;
}

.ui-panel-container > .ui-panel > .misc-container > .info-container > .item > .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 0.5em;
}

.ui-panel-container > .ui-panel > .misc-container > .info-container > .item > .icon > span {
    font-size: 1rem;
}

.ui-panel-container > .ui-panel > .misc-container > .info-container > .item.green {
    color: var(--color-green);
    background-color: var(--color-green-t-04);
}

.ui-panel-container > .ui-panel > .misc-container > .actions-container > .ui-dropdown-menu-container {
    left: unset;
    right: 0;

    margin-right: 1em;
}

.ui-panel-container > .ui-panel > .misc-container > .actions-container > .actions-dropdown-button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.3em 0.8em;
    margin-left: 0.5em;

    color: var(--color-gray-7);

    border-radius: 6px;

    user-select: none;
    cursor: pointer;

    transition: 0.15s;
}

.ui-panel-container > .ui-panel > .misc-container > .actions-container > .actions-dropdown-button:hover {
    background-color: var(--color-gray-04);
    box-shadow: 0 0 0 1px var(--color-gray-1);
}

/* TODO @cleanup @refactor I do not like this */
.ui-panel-container > .ui-panel > .content .ui-text {
    font-size: 0.95em;
}

.ui-panel-container > .ui-panel > .content .subheader,
.ui-panel-container > .ui-panel > .content .h1 {
    position: relative;
    display: flex;
    align-items: center;

    margin-bottom: 1em;
}

.ui-panel-container > .ui-panel > .content .subheader + .subheader,
.ui-panel-container > .ui-panel > .content .h1 + .subheader {
    margin-top: -0.8em;
}

.ui-panel-container > .ui-panel > .content .subheader > .line,
.ui-panel-container > .ui-panel > .content .h1 > .line {
    position: absolute;

    width: 4px;
    height: 90%;

    user-select: none;

    background-color: var(--color-gray-1);
    border-radius: 4px;
}

.ui-panel-container > .ui-panel > .content .subheader > .line.w-icon,
.ui-panel-container > .ui-panel > .content .h1 > .line.w-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1rem;
    height: 1rem;

    margin-left: -0.7rem;
}

.ui-panel-container > .ui-panel > .content .subheader > .line.w-icon > span,
.ui-panel-container > .ui-panel > .content .h1 > .line.w-icon > span {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 0.75rem;
}

.ui-panel-container > .ui-panel > .content .h1 > .header {
    margin-left: 1rem;

    font-weight: 800;
    font-size: 1.6em;
}

.ui-panel-container > .ui-panel > .content .subheader > .text {
    margin-left: 1rem;

    color: var(--color-gray-65);
    font-weight: 450;
    font-size: 0.8em;
    /* font-size: 0.7rem; */
}

.ui-panel-container > .ui-panel > .content .subheader.green > .text {
    color: var(--color-green);
    font-weight: 540;
}

.ui-panel-container > .ui-panel > .content .subheader.green > .line {
    background-color: var(--color-green-t-7);
}

.ui-panel-container > .ui-panel > .content .subheader.blue > .text {
    color: var(--color-blue);
    font-weight: 540;
}

.ui-panel-container > .ui-panel > .content .subheader.blue > .line {
    background-color: var(--color-blue-t-7);
}

.ui-panel-container .ui-panel-drawer {
    position: relative;
    z-index: 0;

    overflow: hidden;

    margin-top: -6px;

    font-size: 0.85em;

    background-color: var(--color-gray-02);
    border-radius: 0 0 6px 6px;
    box-shadow: inset 0 0 0 1px var(--color-gray-1);

    /* Default state */
    transform: translateY(-100%);
    height: 0;
    padding: 0 1.5em 0 1.5em;
    
    transition: 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

.ui-panel-container.drawer-shown .ui-panel-drawer {
    padding: calc(1.5em + 6px) 1.5em 1.5em 1.5em;
    height: 100%;
   
    transform: translateY(0);
}

.ui-panel-container .ui-panel-drawer > .content.between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Buttons */
.ui-button-container {
    position: relative;
}

.ui-button-container > .ui-button {
    position: relative;
    z-index: 1;
}

.ui-button-container > .button-hint {
    position: absolute;
    z-index: 0;

    box-sizing: border-box;

    bottom: 1;
    left: 0;

    padding: calc(0.1em + 5px) 0.4em 0.1em 0.4em;
    margin-top: -5px;

    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    color: var(--color-blue);
    background-color: var(--color-blue-t-04);
    border: 1px solid var(--color-blue-t-1);
    border-radius: 0 0 6px 6px;

    /* Default state */
    transform: translateY(-100%);
    
    transition: 0.25s cubic-bezier(0.33, 1, 0.68, 1);
}

.ui-buttons-container.w-button-hints .ui-button-container > .button-hint {
    transform: translateY(0);
}

.ui-button-container > .button-hint .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 0.3em;
}

.ui-button-container > .button-hint .icon > span {
    font-size: 1em;
}

.ui-button-container > .button-hint .text {
    font-weight: 450;
    font-size: 0.7em;
}

.ui-button.t-primary {
    padding: 0.8em 1.6em;

    color: var(--color-blackish);
    font-size: 0.8rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;

    border: 1px solid var(--color-gray-1);
    background-color: white;
    border-radius: 6px;

    outline: none;
    cursor: pointer;

    transition: 0.15s;
}

.ui-button.t-primary:hover {
    background-color: var(--color-gray-01);
    /* border-color: var(--color-gray-15); */
}

.ui-button.t-primary:active {
    transition: 0s;

    color: black;
    background-color: var(--color-gray-04);
    /* border-color: var(--color-gray-15); */
}

.ui-button.tc-red {
    color: var(--color-red);
}

.ui-button.tc-red:active {
    color: var(--color-red);
}

.ui-button.disabled {
    color: var(--color-gray-7);
    background-color: var(--color-gray-06);
    border-color: transparent;

    pointer-events: none;
}

/* Forms */
.ui-input-container {
    margin: 0.5em 0;
}

.ui-input-container > .header {
    margin-bottom: 0.2em;

    color: var(--color-gray-7);
    font-size: 0.75rem;
    font-weight: 500;
}

.ui-input-container > .input-message {
    margin-top: 0.5em;

    color: var(--color-gray-7);
    font-size: 0.8em;
    font-weight: 450;
}

.ui-input-container > .input-message.c-red {
    color: var(--color-red);
}

.ui-input {
    box-sizing: border-box;
    
    width: 100%;
    
    padding: 0.5em 0.8em;
    
    color: var(--color-blackish);
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    font-weight: 450;
    
    border: 1px solid var(--color-gray-15);
    border-radius: 3px;

    outline: none;
    
    transition: 0.15s;
}

.ui-input:focus {
    border-color: var(--color-gray-25);
}

/* Text */
.ui-text.w-500 {
    font-weight: 500;
}

.ui-text.a-center {
    text-align: center;
}

.ui-text.c-blue {
    color: var(--color-blue);
}

.ui-text.s-small-1 {
    font-size: 0.9em;
}

.ui-text.t-secondary {
    color: var(--color-gray-7);
    font-size: 0.7rem;
    font-weight: 450;
}

/* Info panels */
.ui-info-panel {
    padding: 0.8em 1.2em;

    font-size: 0.8em;
    font-weight: 500;

    border-radius: 6px;
}

.ui-info-panel.c-red {
    color: var(--color-red);
    background-color: var(--color-red-t-04);
}

/* Misc */
.mv-1,
.mb-1 {
    margin-bottom: 1em;
}

.mv-1,
.mt-1 {
    margin-top: 1em;
}

.ui-flex {
    display: flex;
    align-items: center;
}

.ui-between {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.ui-between.center {
    align-items: center;
}

.ui-buttons-container {
    display: flex;
    align-items: center;
}

.ui-buttons-container.to-right {
    justify-content: flex-end;
}

.ui-buttons-container > * {
    margin-left: 0.5rem;
}
