@import "@/variables.less";

.endpoint-cards-container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  > .endpoint {
    display: flex;
    align-items: center;
    gap: 1.33em;

    box-sizing: border-box;

    padding: 0.66em 1.33em;

    width: 100%;
    height: fit-content;

    color: var(--color-text);
    text-decoration: none;

    box-shadow: @border-light, 0 2px 8px 0 rgba(@brand-black-rgb, 0.075);
    background-color: white;

    border-radius: @border-radius-primary;

    cursor: pointer;

    transition: 0.15s;

    &:hover {
      background-color: rgba(@brand-black-rgb, 0.033);
      box-shadow: @border-primary-lighter,
        0 3px 9px 0 rgba(@brand-black-rgb, 0.15);
    }

    &:active {
      transition: 0s;

      background-color: rgba(@brand-black-rgb, 0.075);
      box-shadow: none;
    }

    > .icon {
      position: relative;

      color: rgba(@brand-black-rgb, 0.85);

      > .status-dot {
        position: absolute;

        bottom: 0.4em;
        right: -0.1em;

        width: 6px;
        height: 6px;

        border-radius: 50%;

        box-shadow: 0 0 0 2px white;

        &.active {
          background-color: var(--color-success);
        }

        &.readonly {
          background-color: hsl(235, 37%, 75%);
        }

        &.disabled {
          background-color: var(--color-error);
        }
      }
    }

    > .main-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      gap: 0.2em;

      > .endpoint-name {
        display: flex;
        align-items: center;
        gap: 0.5em;

        font-weight: 550;
      }
    }
  }
}
