.ui-input-error {
  display: flex;
  align-items: center;

  box-sizing: border-box;

  width: 100%;

  margin-top: 0.4em;
  padding: 0.4em 0.6em;

  font-weight: 500;

  border-radius: 6px;

  color: var(--color-error);
  background-color: var(--color-error-o-1);
  box-shadow: inset 0 0 0 1px var(--color-error-o-2);

  transition: 0.15s;

  > .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 0.25em;
  }
}
